@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url('fundo.jpg'); /* Nome do arquivo de imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo da tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo com opacidade para contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Aumente a largura máxima se necessário */
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

/* Estilização do botão "Ir para Lista" */
.wrapper {
    position: absolute;
    bottom: 20px; /* Ajuste para posicionar abaixo da tela de login */
    left: 50%;
    transform: translateX(-50%);
}

.wrapper a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span {
    position: relative;
    z-index: 2;
}

.wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

.wrapper a:hover {
    color: #fff;
}

.wrapper a:hover:after {
    width: 100%;
}

/* Estilização da tabela em list.html */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.bold {
    font-weight: bold;
}

.actions button {
    margin-right: 5px;
}

img {
    vertical-align: middle;
}
